{
  "globals": {
    "G": true,
    "getLogger": true,
    "getModel": true,
    "getController": true
  },
  "rules": {
    "no-console": "off",
    "space-before-function-paren": [
      "off",
      "always"
    ]
  },
  "extends": "think"
}